version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: reto-postgres
    restart: always
    environment:
      POSTGRES_USER: reto
      POSTGRES_PASSWORD: reto
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: reto-rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: reto
      RABBITMQ_DEFAULT_PASS: reto
    volumes:
      - rabbitdata:/var/lib/rabbitmq

volumes:
  postgres_data:
  pgdata:
  rabbitdata:
