services:
  # ========= Databases (1 por service) =========
  auth-db:
    image: postgres:16
    container_name: auth-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: reto
      POSTGRES_PASSWORD: reto
    volumes:
      - auth_pgdata:/var/lib/postgresql/data
    # No ports: only internal access

  catalog-db:
    image: postgres:16
    container_name: catalog-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: catalogdb
      POSTGRES_USER: reto
      POSTGRES_PASSWORD: reto
    volumes:
      - catalog_pgdata:/var/lib/postgresql/data

  orders-db:
    image: postgres:16
    container_name: orders-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ordersdb
      POSTGRES_USER: reto
      POSTGRES_PASSWORD: reto
    volumes:
      - orders_pgdata:/var/lib/postgresql/data

  # ========= Messaging =========
  rabbitmq:
    image: rabbitmq:3-management
    container_name: reto-rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: reto
      RABBITMQ_DEFAULT_PASS: reto
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitdata:/var/lib/rabbitmq

  # ========= Microservices =========
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    restart: unless-stopped
    environment:
      SERVER_PORT: 8081
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/authdb
      SPRING_DATASOURCE_USERNAME: reto
      SPRING_DATASOURCE_PASSWORD: reto
    depends_on:
      - auth-db
      - rabbitmq
    # No ports: only reachable via api-gateway

  catalog-service:
    build: ./services/catalog-service
    container_name: catalog-service
    restart: unless-stopped
    environment:
      SERVER_PORT: 8082
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://catalog-db:5432/catalogdb
      SPRING_DATASOURCE_USERNAME: reto
      SPRING_DATASOURCE_PASSWORD: reto
    depends_on:
      - catalog-db
      - rabbitmq

  order-service:
    build: ./services/order-service
    container_name: order-service
    restart: unless-stopped
    environment:
      SERVER_PORT: 8083
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://orders-db:5432/ordersdb
      SPRING_DATASOURCE_USERNAME: reto
      SPRING_DATASOURCE_PASSWORD: reto
    depends_on:
      - orders-db
      - rabbitmq

  # ========= API Gateway (single entry point) =========
  api-gateway:
    build: ./services/api-gateway
    container_name: api-gateway
    restart: unless-stopped
    environment:
      SERVER_PORT: 8080
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - catalog-service
      - order-service

volumes:
  auth_pgdata:
  catalog_pgdata:
  orders_pgdata:
  rabbitdata:
