server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://catalog-db:5432/catalogdb
    username: reto
    password: reto
  jpa:
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: health,info
